

.table-container {
  overflow-x: auto; /* Makes the table horizontally scrollable on small screens */
  margin: 0 auto;
  max-width: 100%;
}

table {
  
  border-collapse: collapse;
  background-color: #fff;
    margin-left: 297px;
    margin-right: 289px
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f3f3f3;
  color: #333;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

.time-header {
  background-color: #c77c1d;
  color: #fff;
}

.date-header {
  background-color: #c77c1d;
  color: #fff;
}

.court {
  background-color: #4f8cf7;
  color: white;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.court.booked {
  background-color: #ffcc00;
  color: #333;
}

.court.available {
  background-color: #4f8cf7;
}

@media screen and (max-width: 768px) {
  /* When screen width is less than 768px, allow horizontal scrolling */
  .table-container {
    overflow-x: scroll;
  }

  table {
    min-width: 1200px; /* Ensure table doesn't break into multiple lines */
  }
}